{% include 'base.html' %}
<html>
<head>
Call Me Captain...
</head>
<body>
<img src="/static/img/positive.png" width=300; height=200;alt="" style="float:left; margin-right:10px;"/>
<p style="text-align:left">
网 名： Never Blue <br/>
年 龄： 22<br />
生 日： 1992-09-27<br />
性 别： 男<br />
学 校： 电子科技大学  信息安全 <br/>
Email：	luoluo1920@gmail.com <br />
Github：
<a href="https://github.com/luoluo">2012</a>
<a href="https://github.com/lf2013">2013</a>
<p style="clear:both;">
<p>&nbsp;<br />
<strong>喜 欢：</strong><br />
简洁，摇滚，GIT，开源，数学,电影，独立思考，DIY
<p>
<p><strong>不喜欢：</strong><br />
消极
<p>
<p><strong>我的豆瓣脚印：</strong><br />

<script type="text/javascript" src="http://www.douban.com/service/badge/luoluo1920/?show=collection&amp;n=8&amp;columns=8&amp;cat=book|music" ></script>

</html>

