<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>
      <!-- {% if page.title %} {{ page.title }} | {% endif %} -->
    </title>
    <link rel="stylesheet" href="/css/pygments.css" />
  </head>
  <body>
    <div id="main">
      <header>
        <header>
          <nav role="navigation">
            <ul>
			<p>
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <a href="/archive/index.html"> Archive </a>
              </li>
              <li>
                <a href="/categories/index.html"> Categories</a>
              </li>
              <li>
                <a href="/note/index.html"> Note</a>
              </li>
              <li>
                <a href="/about/index.html"> About </a>
              </li>
            </ul>
			<audio controls="controls">
			  <source src="/audio/Lydia.mp3" type="audio/mpeg">
			</audio>

          </nav>
		<!--<h1>{{page.title}}</h1> 
			{{page.date}}
          {{ content }}
          <footer>
		<a href={{page.previous.url}}>之前的</a>
		<a href="/archive.html">目录</a>
		<a href={{page.next.url}}>更新的</a>-->
            <p>
            <div align="center"><a href="http://www.amazingcounters.com"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3176676&c=9530341" alt="AmazingCounters.com"></a></div>
               @copy; Luoluo 2011-2014 | All Rights Reserved.
            </p>
          </footer>
    </div>
  </body>

</html>
